  body {
    background-color: #c1cdc1;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }
h3{
  color: #496282;
}
h1{
  color: #111111;
}
